@import 'variables.pcss';

@import 'default.pcss';

@import 'typo.pcss';

/*
* Основные стили
*/

body {
  font-family: $f_Helvetica;
  background: rgba(255, 255, 255, 1);
  font-size: 14px;
  line-height: 20px;
}
