// Шрифты
f_Helvetica = f_Default = 'Helvetica Neue', Arial, sans-serif

// Цвета
c_Black = rgba(0, 0, 0, 1)
c_Gray = rgba(0, 0, 0, .5)
c_White = rgba(255, 255, 255, 1)

// Адаптив
l_Test = 'screen and (max-width: 3000px)' // Пример
