div(style="padding: 30px 45px")
  h1 Инитум помогает быстро начать вёрстку проекта
  p(style="padding: 15px 0 10px 0; max-width: 700px;") Для начала удалите файл&nbsp;
    span /templates/blocks/hello.html
    |&nbsp;и&nbsp;
    span /assets/source/styles/initium.pcss
    |&nbsp;, затем отредактируйте&nbsp;
    span /templates/index.html
    |&nbsp;и&nbsp;
    span /assets/source/styles/layout.pcss
  p Пишите, если чё:&nbsp;
    a(href="mailto:ilya@straykov.ru?subject=Инитум") ilya@straykov.ru