/* Переменные */
$helvetica: "Helvetica Neue", Arial, sans-serif;

$link: #0000ff;
$link-hover: #ff0000;

$latex-tablet: "(max-width: 1000px)";
$latex-mobile: "(max-width: 640px)";

@media #{$latex-mobile} {
  p {
    font-size: 12px;
  }
}
